body {
  font-family: "Pontano Sans", sans-serif;
  font-size: 15px;

  background-color: #3a2939;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}
.flex-box {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  width: 100%;
  height: 95vh;
}

.flex-item {
  /* background-color: white; */
  padding: 20px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 300px;
  /* border: 1px solid #eee; */
}

.login-wrapped img {
  min-width: 200px;
  max-width: 60%;
  border-radius: 50%;
}

.form-box {
  margin: auto;
  margin-top: 100px;
  max-width: 320px;
  background: #f1f7fe;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1rem;
  color: #666;
}

.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 0.5rem;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  padding: 8px 15px;
}

.form-section {
  text-align: center;
  padding: 16px;
  font-size: 0.85rem;
  background-color: #e0ecfb;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
  font-weight: bold;
  color: #0066ff;
  transition: color 0.3s ease;
}

.form-section a:hover {
  color: #005ce6;
  text-decoration: underline;
}

.form button {
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #005ce6;
}

.flex-img {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.img-pokemon {
  min-width: 300px;
  min-height: 200px;
  max-width: 80%;
  filter: drop-shadow(0 1rem 1rem #1a0d19) opacity(70%);
  mix-blend-mode: difference;
}

.img-pokemons {
  position: relative;
  min-width: 300px;
  min-height: 200px;
  max-width: 80%;
  margin: 0 0 0 0;
  border-radius: 50%;
  box-shadow: 12px 8px 20px #1a0d19;
  z-index: 10;
  mix-blend-mode: overlay;
}

/* .img-pokemons {
  min-width: 300px;
  min-height: 200px;
  max-width: 80%;
  margin: 0 0 0 0;
  border-radius: 50%;
  box-shadow: 12px 8px 20px orange;
  z-index: 10;
} */

@media (min-width: 300px) and (max-width: 1070px) {
  .form-box {
    margin: auto;
    max-width: 320px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
  }
}
