/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  margin: auto;
  padding: 30px;
  border: 1px solid #212121;
  background: #212121;
  border-radius: 30px;
  width: 70%;
}
.modal-favorites {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content-favorites {
  margin: auto;
  padding: 30px;
  border: 1px solid #212121;
  background: #212121;
  border-radius: 30px;
  width: 89%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close_favorite {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.close_favorite:hover,
.close_favorite:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

.modal-btn {
  background-color: #212121;
  border: 0;
  cursor: pointer;
}

.test-btn {
  background-color: #212121;
  border: 0;
  cursor: pointer;
  z-index: 10;
  img {
    z-index: 1;
  }
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #777;
  width: 1rem;
  height: 1rem;
}

.column-modal-img {
  display: flex;
  position: static;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  padding: 5px 0 0 50px;
  margin: 0 0;

  img {
    width: 230px;
    height: 300px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    /* box-shadow: 12px 8px 20px orange ; */
    filter: drop-shadow(0 0 0.75rem crimson) opacity(60%);
  }
}

.column-modal-text {
  flex: 3;
  display: flex;
  flex-direction: column;
  position: static;
  justify-content: start;
  padding: 0 45px 0 45px;
  margin: 0 0;
  color: orange;
}

#info-modal {
  display: inline;
  text-align: center;
  margin: 7px;
  padding: 0;
  border-bottom: 0.0625rem solid gray;
}

.column-modal-text ul {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
  padding: 10px;
  li {
    margin: 15px 0 0 0;
    padding: 3px;
    color: #5bc8f7;
  }
}

#btn-info {
  padding: 8px;
  border-radius: 1rem;
  color: #ffffff;
  background: transparent;
  transition: none;
  pointer-events: none;
  h2 {
    font-size: 1.1em;
    display: inline;
    text-transform: uppercase;
    padding: 0 25px 0 25px;
    margin: 0 0 0 0;
    color: orange;
  }
}

.info-class {
  color: #fff;
  font: normal bold 1.1em "Fira Sans", sans-serif;
  display: inline;
  /* padding: 15px 0 0 0; */
}

.data-class {
  padding: 0 0 0 50px;
  font: normal bold 1.1em "Fira Sans", sans-serif;
  text-transform: uppercase;
  display: inline;
  color: orange;
}
.data-class-abilties {
  padding: 15px 0 0 0;
  font: normal bold 1.1em "Fira Sans", sans-serif;
  text-transform: uppercase;
  display: inline;
  color: orange;
}

.div-data {
  display: flex;
  justify-content: center;
}

.li-data {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  h2 {
    padding: 0;
    font-size: 1.1em;
  }
}

.center {
  justify-content: center;
}

/* .li-data {
  border: none;
  padding: 9px;
  font-size: 1rem;
  border-radius: 1rem;
  color: #ffffff;
  box-shadow: 0 0.4rem #dfd9d9;
  background: transparent;
  cursor: pointer;
  content: "";

  h2 {
    font-size: 20px;
    display: inline;
    padding: 0 0 0 10px;
    margin: 0 0 0 0;
  } */

div.desc-modal {
  margin: 2px 0 14px 0px;
  padding: 0 0 0 10px;
  font-size: 23px;
  color: #fff;
  letter-spacing: 7px;
  font-weight: 720;
  text-transform: uppercase;
  background: #212121;
  color: orange;
}

.column-modal-img-evo {
  display: flex;
  position: static;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex: 3;
  padding: 5px 0 0 60px;
  margin: 0 0;

  img {
    width: 200px;
    height: 300px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    /* box-shadow: 12px 8px 20px orange ; */
    filter: drop-shadow(0 0 0.75rem rgb(209, 209, 209)) opacity(60%);
  }

  ul {
    display: flex;
    position: relative;
    justify-content: end;
    list-style: none;
    padding: 0;
    li {
      margin: 10px;
    }
  }
}

div.desc-modal-evo {
  padding: 0 0 0 10px;
  font-size: 23px;
  color: #fff;
  justify-content: center;
  letter-spacing: 7px;
  font-weight: 720;
  text-transform: uppercase;
  background: #212121;
  color: orange;
}

.img-evo {
  content: "";
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  clear: both;
  padding: 20px 0 0 0;
  margin: 0;
  background-color: #333;
}

.container-evo {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex: 3;
  padding: 5px 0 20px 20px;
  margin: 0 0;
}

.image {
  opacity: 1;
  width: 200px;
  height: 200px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  /* box-shadow: 12px 8px 20px orange ; */
  filter: drop-shadow(0 0 0.75rem rgb(177, 82, 82)) opacity(90%);
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-evo:hover .image {
  opacity: 0.2;
}

.container-evo:hover .middle {
  opacity: 1;
}

.text {
  justify-content: space-between;
  color: white;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-size: 14px;
  font: bold 24px/1;
  padding: 16px 32px;
}
/* 
font-weight: 720;

background: #212121;
color: orange; */

@media (max-width: 468px) {
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    overflow-x: hidden;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  /* Modal Content */
  .modal-content {
    margin: auto;
    padding: 30px;
    border: 1px solid #212121;
    background: #212121;
    border-radius: 30px;
    width: 95%;
  }
  div.desc-modal {
    padding: 0 0 0 10px;
    font-size: 23px;
    color: #fff;
    letter-spacing: 7px;
    font-weight: 720;
    text-transform: uppercase;
    background: #212121;
    color: white;
  }

  .column-modal-img {
    display: flex;
    position: static;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 3;
    padding: 5px 0 0 0px;
    margin: 0 0;

    img {
      width: 150px;
      height: 150px;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      /* box-shadow: 12px 8px 20px orange ; */
      filter: drop-shadow(0 0 0.75rem crimson) opacity(60%);
    }
  }
}

@media (max-width: 1050px) {
  .column-modal-text {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: orange;
  }

  #info-modal {
    display: inline;
    text-align: center;
    margin: 0;
    border-bottom: 0.0625rem solid gray;
  }

  .column-modal-img {
    display: flex;
    position: static;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 3;
    padding: 5px 0 0 26px;
    margin: 0 0;

    img {
      width: 200px;
      height: 200px;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      /* box-shadow: 12px 8px 20px orange ; */
      filter: drop-shadow(0 0 0.75rem crimson) opacity(60%);
    }
  }
  .modal-content {
    margin: auto;
    padding: 30px;
    border: 1px solid #212121;
    background: #212121;
    border-radius: 30px;
    width: 80%;
  }
}

@media (max-width: 664px) {
  /* Modal Content */

  .column-modal-img {
    display: flex;
    position: static;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 3;
    padding: 5px 0 0 26px;
    margin: 0 0;

    img {
      width: 200px;
      height: 200px;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      /* box-shadow: 12px 8px 20px orange ; */
      filter: drop-shadow(0 0 0.75rem crimson) opacity(60%);
    }
  }
}

.main-div-favorite {
  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1px));
    place-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 15px 7px 15px;
    margin: 0 15px 0 20px;
    background-color: #212121;
    z-index: 10;
  }
}

div.desc-favorite {
  display: inline;
  box-sizing: border-box;
  padding: 0 0 10px 0;
  font-size: 9px;
  color: #fff;
  letter-spacing: 7px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  background: #212121;
  color: #ccc;
}

div.desc-favorite[id]::before {
  content: attr(id);
  letter-spacing: 4px;
  font-size: 12px;
}

div.card-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #212121;
  background: #212121;
  border-radius: 30px;
  box-shadow: 0px 0px 0px rgb(25, 25, 25), -10px -10px 30px rgb(60, 60, 60);
  padding: 20px 15px 10px 0;
}

div.card-favorite:hover {
  border: 4px solid #777;
}

div.card-favorite img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.responsive-favorite {
  padding: 0 0;
  margin: 0 0 0 0;
  float: left;
  width: 10%;
}

@media (max-width: 1111px) {
  .container-evo {
    padding: 30px;
  }
  .img-evo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #333;
    overflow: scroll; /* Asegura el scroll horizontal */
    white-space: nowrap;
    overflow-y: hidden;
    width: 100%;
  }
}

.desc-favorite-card {
  display: flex;
  position: relative;
  justify-content: center;
  top: 40px;
  padding: 15px 20px 20px 30px;
  margin: 0 15px 0 20px;
  font-size: 18px;
  color: #fff;
  letter-spacing: 7px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: #212121;
    color: #ccc;
  }

#not-found {
  color: #3a2939;
  font: small-caps bold 50px/1 sans-serif;
}
