body {
  font-family: "Pontano Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  background: #ffffffe7;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer";
  gap: 10px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: none;
  background-color: #ffffff;
}

.grid-container {
  div {
    /* background: linear-gradient(#f4bd6c, #dc9f4b); */
    background: #3a2939;
    text-align: center;
    padding: 0 0 0 0;
    font-size: 30px;
  }
}

.main-div {
  div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 20px 7px 15px;
    margin: 0 0 0 0;
    background-color: #ffffff;
  }
}

.container {
  margin: 0;
  padding: 0 0px;
  max-width: 1300;
  width: 100%;
  background-color: #ffffff;
}
.row {
  content: "";
  display: flex;
  flex-wrap: wrap;
  clear: both;
  padding: 0;
  margin: 0;
}
.column-img {
  display: flex;
  position: static;
  justify-content: flex-start;
  flex: 3;
  padding: 5px;
  margin: 0 0;

  img {
    width: 20%;
    padding: 0 0 0;
    margin: 0 15px 0 15px;
  }

  ul {
    display: flex;
    position: relative;
    justify-content: end;
    list-style: none;
    padding: 0;
    li {
      margin: 10px;
    }
  }
}

.column-text {
  flex: 2;
  padding: 5px;
  margin: 0 0;

  ul {
    display: flex;
    position: relative;
    justify-content: end;
    list-style: none;
    padding: 0;
    li {
      margin: 10px;
      padding: 6px 0 10px 0;
    }
  }
}

.input-wrapper {
  display: contents;
  input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 13rem;
    border-radius: 1rem;
    color: #e7ad5a;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
  }
}

.input-wrapper input:focus {
  outline-color: #e7ad5a;
}

.button-search {
  background-color: #eee;
  border: none;
  padding: 9px;
  font-size: 1rem;
  border-radius: 1rem;
  color: #3a2939;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.nav-item {
  border: none;
  padding: 9px;
  font-size: 1rem;
  border-radius: 1rem;
  color: #ffffff;
  box-shadow: 0 0.4rem #dfd9d9;
  background: transparent;
  cursor: pointer;
  content: "";

  h2 {
    font-size: 20px;
    display: inline;
    padding: 0 0 0 10px;
    margin: 0 0 0 0;
  }
}

.responsive {
  padding: 0 0;
  margin: 0 0 0 0;
  float: left;
  width: 22%;
}

div.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #212121;
  background: #212121;
  border-radius: 30px;
  box-shadow: 0px 0px 0px rgb(25, 25, 25), -10px -10px 30px rgb(60, 60, 60);
} 

div.card:hover {
  border: 1px solid #777;
}

div.card img {
  width: 180px;
  height: 200px;
  padding: 10px 0 0 10px;
  margin: 0 0 0 0;
}

div.desc {
  padding: 15px;
  font-size: 18px;
  color: #fff;
  letter-spacing: 7px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: #212121;
  color: #ccc;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 400px) {
  .responsive {
    float: left;
    width: 50%;
  }
}

@media (max-width: 650px) {
  .responsive {
    float: left;
    width: 50%;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}