body {
  font-family: "Pontano Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  background: #ffffffe7;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer";
  gap: 10px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: none;
  background-color: #ffffff;
}

.grid-container {
  div {
    /* background: linear-gradient(#f4bd6c, #dc9f4b); */
    background: #3a2939;
    text-align: center;
    padding: 0 0 0 0;
    font-size: 30px;
  }
}

.main-div {
  div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 20px 7px 15px;
    margin: 0 0 0 0;
    background-color: #ffffff;
  }
}

.container {
  margin: 0;
  padding: 0 0px;
  max-width: 1300;
  width: 100%;
  background-color: #ffffff;
}
.row {
  content: "";
  display: flex;
  flex-wrap: wrap;
  clear: both;
  padding: 0;
  margin: 0;
}
.column-img {
  display: flex;
  position: static;
  justify-content: flex-start;
  align-items: center;
  flex: 3;
  padding: 5px;
  margin: 0 0;

  img {
    width: 20%;
    padding: 0 0 0;
    margin: 0 15px 0 15px;
  }

  ul {
    display: flex;
    position: relative;
    justify-content: end;
    list-style: none;
    padding: 0;
    li {
      margin: 10px;
    }
  }
}

.column-text {
  flex: 2;
  padding: 5px;
  margin: 0 0;

  ul {
    display: flex;
    position: relative;
    justify-content: end;
    list-style: none;
    padding: 0;
    li {
      margin: 10px;
      padding: 6px 0 10px 0;
    }
  }
}

.input-wrapper {
  display: flex;
  line-height: 28 px;
  align-items: center;
  position: relative;
  max-width: 190px;
  input {
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    width: 100%;
    padding-left: 2.5rem;
    background-color: #eee;
    border: none;
    font-size: 1rem;
    /* width: 13rem; */
    border-radius: 1rem;
    color: #615f5f;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: text;
  }
}

.input-wrapper input:focus {
  outline-color: #e7ad5a;
}

.button-search {
  background-color: #eee;
  border: none;
  padding: 9px;
  font-size: 1rem;
  border-radius: 1rem;
  color: #3a2939;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.nav-item {
  border: none;
  padding: 9px;
  font-size: 1rem;
  border-radius: 1rem;
  color: #ffffff;
  box-shadow: 0 0.4rem #dfd9d9;
  background: transparent;
  cursor: pointer;
  content: "";

  h2 {
    font-size: 20px;
    display: inline;
    padding: 0 0 0 10px;
    margin: 0 0 0 0;
  }
}

.nav-item:hover {
  border: 1px solid #aaaaaa;
}

.nav-item:focus {
  border: 1px solid #aaaaaa;
}

.responsive {
  padding: 0 0;
  margin: 0 0 0 0;
  float: left;
  width: 22%;
}

div.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #212121;
  background: #212121;
  border-radius: 30px;
  box-shadow: 0px 0px 0px rgb(25, 25, 25), -10px -10px 30px rgb(60, 60, 60);
}

div.card:hover {
  border: 4px solid #777;
}

div.card img {
  width: 200px;
  height: 200px;
  padding: 10px 0 0 10px;
  margin: 0 0 0 0;
}

div.desc {
  padding: 15px;
  font-size: 18px;
  color: #fff;
  letter-spacing: 7px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: #212121;
  color: #ccc;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 400px) {
  .responsive {
    float: left;
    width: 50%;
  }
}

@media (max-width: 650px) {
  .responsive {
    float: left;
    width: 50%;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #212121;
  background: #212121;
  border-radius: 30px;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-btn {
  background-color: #212121;
  border: 0;
  cursor: pointer;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #777;
  width: 1rem;
  height: 1rem;
}

.column-modal-img {
  display: flex;
  position: static;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  padding: 5px;
  margin: 0 0;

  img {
    width: 300px;
    height: 300px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    /* box-shadow: 12px 8px 20px orange ; */
    filter: drop-shadow(10px 7px 15px #ffa500);
  }

  ul {
    display: flex;
    position: relative;
    justify-content: end;
    list-style: none;
    padding: 0;
    li {
      margin: 10px;
    }
  }
}

.column-modal-text {
  flex: 3;
  padding: 0 0 0 75px;
  margin: 0 0;
  color: orange;
}

#info-modal {
  display: inline;
  padding: 0 0 10px 4px;
  border-bottom: 0.0625rem solid gray;
}

.column-modal-text ul {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
  padding: 0;
  li {
    margin: 10px 0 0 0;
    padding: 6px 0 10px 0;
    color: #5bc8f7;
  }
}

#btn-info {
  padding: 9px;
  border-radius: 1rem;
  color: #ffffff;
  background: transparent;
  transition: none;
  pointer-events: none;
  h2 {
    font-size: 1.1em;
    display: inline;
    text-transform: uppercase;
    padding: 0 25px 0 25px;
    margin: 0 0 0 0;
    color: orange;
  }
}

.info-class {
  color: #fff;
  font: normal bold 1.1em "Fira Sans", sans-serif;
  display: inline;
  padding: 20px 0 0 0;
}

.data-class {
  padding: 10px 43px 0 0;
  font: normal bold 1.1em "Fira Sans", sans-serif;
  text-transform: uppercase;
  display: inline;
  color: orange;
}

.li-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 1.1em;
  }
}

/* .li-data {
  border: none;
  padding: 9px;
  font-size: 1rem;
  border-radius: 1rem;
  color: #ffffff;
  box-shadow: 0 0.4rem #dfd9d9;
  background: transparent;
  cursor: pointer;
  content: "";

  h2 {
    font-size: 20px;
    display: inline;
    padding: 0 0 0 10px;
    margin: 0 0 0 0;
  } */
