body {
  font-family: "Pontano Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  background: #ffffffe7;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas: "header header header header header header";
  gap: 10px;

  padding: 0;
  margin: 0;
  border: none;
}

.grid-container {
  div {
    background: linear-gradient(#f4bd6c, #dc9f4b);
    text-align: center;
    padding: 0 0px;
    font-size: 30px;
  }
}

.container {
  margin: 0;
  padding: 0 0px;
  max-width: 1300;
  width: 100%;
}
.row {
  content: "";
  display: flex;
  clear: both;
  padding: 0;
  margin: 0;
}
.column-img {
  display: flex;
  position: static;
  justify-content: flex-end;
  flex: 3;
  padding: 10px;
  margin: 0 0;

  img {
    width: 60%;
    padding: 10px 70px 30px;
    margin: 0 0 0 0;
  }
}

.column-text {
  display: block;
  flex: 3;
  padding: 0;
  margin: 0;

  ul {
    display: flex;
    position: relative;
    justify-content: start;
    list-style: none;
    padding: 0;
    li {
      margin: 10px;
    }
  }
}

.input-wrapper {
  display: contents;
  input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 13rem;
    border-radius: 1rem;
    color: #e7ad5a;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
  }
}

.input-wrapper input:focus {
  outline-color: #e7ad5a;
}

button {
  background-color: #eee;
  border: none;
  padding: 9px;
  font-size: 1rem;
  border-radius: 1rem;
  color: #e7ad5a;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}
